<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Home</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
  <!-- font awesome style -->
  <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css" />

  <!-- Custom styles for this template -->
  <link href="stylesheets/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="stylesheets/responsive.css" rel="stylesheet" />


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <style>
    .slider_section {
      position: relative;
      width: 100%;
      height: 500px;
      /* Set your desired height */
      background-image: url('images/home_img.png');
      background-size: cover;
      /* Ensure the image covers the entire container */
      background-position: center;
      /* Center the image */
      background-repeat: no-repeat;
      /* Prevent the image from repeating */
    }

    .overlay-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      /* Optional: dark overlay for better text visibility */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      /* Ensure the content is on top of the image */
      color: white;
      /* Optional: set text color for visibility */
    }
  </style>

</head>

<body>
  <%- include('./partials/header') %>

  <!-- slider section -->
  <section class="slider_section">
    <div class="overlay-content">
      <%- include('./partials/flash') %>
    </div>
  </section>


  <!-- end slider section -->
  </div>



  <%- include('./partials/footer_infosection') %>


  <script src="javascripts/jquery-3.4.1.min.js"></script>
  <script src="javascripts/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="javascripts/custom.js"></script>



</body>

</html>