<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Inance</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- font awesome style -->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
  <% -include('header') %>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="heading_container">
      <h2>Quy Định Ban Quản Lý Chung Cư</h2>
    </div>
    <div id="about_content">
      <strong>1.Phí Quản Lý Và Dịch Vụ:</strong>
      <ul>
        <li><p>Phí Quản Lý Chung: Gồm Chi Phí Bảo Vệ, Vệ Sinh, Bảo Trì Khu Vực Chung (Thang Máy, Hành Lang, Khu Sinh Hoạt).</p></li>
        <li><p>Phí Dịch Vụ: Thu Để Bảo Trì Hệ Thống Điện, Nước, Và Các Thiết Bị Chung.</p></li>
        <li><p>Hạn Nộp Phí: Thanh Toán Trước Ngày 10 Hàng Tháng; Trễ Hạn Bị Phạt Theo Quy Định.</p></li>
      </ul>
      <strong>2.Thông Tin Cư Dân:</strong>
      <ul>
        <li><p>Cập Nhật Thông Tin: Cung Cấp Tên Chủ Hộ, Số Căn Hộ, Số Liên Lạc, Và Email (Nếu Có).</p></li>
        <li><p>Danh Sách Cư Dân: Đăng Ký Đầy Đủ Thành Viên Ở Thường Xuyên Để Hỗ Trợ Quản Lý.</p></li>
        <li><p>Trách Nhiệm Chung: Đảm Bảo Trật Tự, Vệ Sinh, Và Tuân Thủ Quy Định An Toàn.</p></li>
      </ul>
      <strong>Quy Định Nhằm Đảm Bảo Môi Trường Sống An Toàn, Sạch Đẹp Và Văn Minh.</strong>
    </div>
  </section>

  <!-- end about section -->

  <%-include('footer_infosection') %>
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->


</body>

</html>