 <!-- info section -->
 <section class="info_section ">
    
  <div class="row">
    
          <div class="col-md-6" id="bluemoon">

              <div class="item ">
                
                <h4>
                  Bluemoon Apartment
                </h4>
              </div>
              <div class="social-box">
  
                <div class="box">
                  <a href="">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                  </a>
                  <a href="">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
          </div>
          <div class="col-md-6">
            
              <div class="item ">
               
                <p>
                  Ban Quản lý Chung cư cao cấp Bluemoon
                </p>
                <p>
                  Khu dân cư số 2, Khường Đình, Hà Đông
                </p>
                <p>
                  0123456789
                </p>
                <p>
                  bluemoon@gmail.com
                </p>
              Định
  </p>
</div>
</footer>
<!-- footer section -->
