<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <div class="header_top">

      <img src="images/header_img.png" id="header_img">

    </div>
    <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              Trang chủ
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" href="/quy_dinh">Quy định</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Dịch vụ<i id="arrow_nav" class="bi bi-caret-down-fill"></i></span></a>
                <ul class="dropdown">
                  <li><a href="/bill">Các khoản phí</a></li>
                  <li><a href="/resident">Nhân khẩu</a></li>
                  <li><a href="/room">Hộ khẩu</a></li>
                  <li><a href="/vehicles">Quản lý xe</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/phi_co_so">Phí cơ sở</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"><i id="arrow_nav" class="bi bi-person-circle login-circle"></i></a>
                <ul class="dropdown">
                  <li><a href="/login">Đăng nhập</a></li>
                  <li><a href="/register">Đăng kí</a></li>

                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- end header section -->
</div>